@import './colors.scss';

.button {
  padding: 12px;
  font-size: 16px;
  box-shadow: none;
  border: none;

  &.secondary {
    background-color: $secondary-color;
  }

  &.padded {
    padding: 25px;
  }
}
